:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff;
}

.header {
  min-height: 15vh;
}

.main {
  min-height: 85vh;
}

.weather {
  min-height: 50%;
}

.health {
  min-height: 50%;
}
