:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff;
}

.header {
  min-height: 15vh;
  background-color: var(--prussian-blue);
  color: white;
}

.main {
  min-height: 85vh;
}

.weather {
  min-height: 50%;
}

.health {
  min-height: 50%;
}

.search-container {
  background-color: var(--honey-yellow);
}

.search-btn {
  background-color: var(--blue-green);
  color: white;
}

.country-card {
  width: 75%;
}

.card-img-top {
  max-height: 30vh !important;
}
